name: docker-publish

on:
  workflow_dispatch

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: mssql2022
        uses: docker/build-push-action@v6
        with:
          context: ./mssql2022
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:mssql2022

      - name: postgres18
        uses: docker/build-push-action@v6
        with:
          context: ./postgres18
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:postgres18